body {
  margin: 0;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container-one {
  width: 50vw;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-two {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: widthmix;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .container-one,
  .container-two {
    width: 100vw;
    height: 50vh;
  }
}

@keyframes widthmix {
  0% {
    width: 60vw;
  }
  100% {
    width: 50vw;
  }
}
