@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-height: 100vh;
}

.header {
  position: relative;
  text-align: center;
  color: white;
}

.header img {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: "Lexend Peta", sans-serif;
  color: #e4d9d9;
}

@media (max-width: 750px) {
  .title {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 40px;
  }
}
